<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-10 pt-2 main-title">ExoPlateform</div>
                <h3 class="col-md-4 col-10 pt-2 d-flex justify-content-center align-items-end text-light font-italic">
                    {% if is_granted('ROLE_TEACHER') %} Espace enseignant {% endif %}
                    {% if is_granted('ROLE_STUDENT') %} Espace étudiant {% endif %}
                </h3>
                <div class="col-md-4 col-10 text-right pt-3 pr-5">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('logout') }}"><button class="btn btn-danger">Déconnexion</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block body %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function() {
                    var i = 3;
                    var compt = 2;
                    var current_instructions = 2;
                    $("#compteur").val(2);
                    $("#addInstruction").click(function() {
                        var ul = document.getElementById("instructions_list");
                        var icon = document.createElement("i");
                        icon.setAttribute('class', 'fa fa-trash');
                        var removeButton = document.createElement("div");
                        removeButton.setAttribute('id', 'remove' + i);
                        removeButton.setAttribute('class', 'btn btn-default remove-me ml-2 py-0');
                        removeButton.setAttribute('style', 'color:#bb4444; font-size:140%;');
                        removeButton.append(icon);
                        var input = document.createElement("input");
                        input.setAttribute('type', 'text');
                        input.setAttribute('class', 'form-control col-8');
                        input.setAttribute('name', 'instruction' + i);
                        var li = document.createElement("li");
                        li.setAttribute('class', 'row my-3');
                        li.setAttribute('id', 'li' + i);
                        li.append(input);
                        li.append(removeButton);
                        ul.append(li);
                        i = i + 1;
                        compt = compt + 1;
                        $("#compteur").val(compt);
                        current_instructions = current_instructions + 1;
                        if(current_instructions > 50) {
                            $("#addInstruction").hide();
                        }
                    });

                    $('body').on('click','.remove-me',function() {
                        var ul = document.getElementById("instructions_list");
                        var fieldNum = this.id.charAt(this.id.length-1);
                        var fieldId = document.getElementById("li" + fieldNum);
                        $(this).remove();
                        ul.removeChild(fieldId);
                        current_instructions = current_instructions - 1;
                        if(current_instructions <= 50) {
                            $("#addInstruction").show();
                        }
                    });

                    var fixHelperModified = function(event, tr) {
                        var $originals = tr.children();
                        var $helper = tr.clone();
                        $helper.children().each(function(index) {
                            $(this).width($originals.eq(index).width())
                        });
                        return $helper;
                    },
                    updateIndex = function(event, ui) {
                        $('td.index', ui.item.parent()).each(function (i) {
                            $(this).html(i+1);
                        });
                        $('td > input[type=hidden]', ui.item.parent()).each(function (i) {
                            $(this).val(i + 1);
                        });
                    };

                    $('#sortable tbody').sortable({
                        helper: fixHelperModified,
                        stop: updateIndex
                    }).disableSelection();

                    $("tbody").sortable({
                        update: function() {}
                    });

                    $(".alertSuccess").hide();
                    $(".alertFail").hide();

                    $("#formulaire").submit(function(e) {
                        e.preventDefault();
                        $(".alertSuccess").hide();
                        $(".alertFail").hide();
                        var donnees = $(this).serialize();
                        var post_url = $(this).attr("action");
                        $.ajax({
                            url : post_url,
                            type : 'POST',
                            data : donnees,
                        }).done(function(data) {
                            if(data.valid) {
                                $(".alertSuccess").show();
                            } else {
                                $(".alertFail").show();
                            }
                        });
                    });

                });

            </script>
        {% endblock %}
    </body>
</html>
